<h3>Import Dependencies</h3>

In [72]:
import pandas as pd
import numpy as np

In [73]:
dataset = pd.read_csv("./archive/car data.csv")

In [74]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [75]:
X = dataset.drop('Selling_Price',axis='columns')
Y = dataset.Selling_Price

In [76]:
X.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0

<h3>Data Preprocessing</h3>

In [77]:
#to transform non-numerical labels to numerical labels.
from sklearn.preprocessing import LabelEncoder

col0 = LabelEncoder()
X.iloc[:, 0] = col0.fit_transform(X.iloc[:, 0])

col1 = LabelEncoder()
X.iloc[:, 1] = col1.fit_transform(X.iloc[:, 1])

col3 = LabelEncoder()
X.iloc[:, 3] = col3.fit_transform(X.iloc[:, 3])

col4 = LabelEncoder()
X.iloc[:, 4] = col4.fit_transform(X.iloc[:, 4])

col5 = LabelEncoder()
X.iloc[:, 5] = col5.fit_transform(X.iloc[:, 5])

col6 = LabelEncoder()
X.iloc[:, 6] = col6.fit_transform(X.iloc[:, 6])

col7 = LabelEncoder()
X.iloc[:, 7] = col7.fit_transform(X.iloc[:, 7])

In [78]:
""" dataset['Car_Name'] = pd.factorize(dataset['Car_Name'])[0]
dataset['Year'] = pd.factorize(dataset['Year'])[0]
dataset['Present_Price']  = pd.factorize(dataset['Present_Price'])[0]
dataset['Kms_Driven']  = pd.factorize(dataset['Kms_Driven'])[0]
dataset['Fuel_Type']  = pd.factorize(dataset['Fuel_Type'])[0]
dataset['Seller_Type']  = pd.factorize(dataset['Seller_Type'])[0]
dataset['Transmission']  = pd.factorize(dataset['Transmission'])[0]
dataset['Owner']  = pd.factorize(dataset['Owner'])[0]
#dataset = dataset.replace(np.nan, 0, regex=True) """

" dataset['Car_Name'] = pd.factorize(dataset['Car_Name'])[0]\ndataset['Year'] = pd.factorize(dataset['Year'])[0]\ndataset['Present_Price']  = pd.factorize(dataset['Present_Price'])[0]\ndataset['Kms_Driven']  = pd.factorize(dataset['Kms_Driven'])[0]\ndataset['Fuel_Type']  = pd.factorize(dataset['Fuel_Type'])[0]\ndataset['Seller_Type']  = pd.factorize(dataset['Seller_Type'])[0]\ndataset['Transmission']  = pd.factorize(dataset['Transmission'])[0]\ndataset['Owner']  = pd.factorize(dataset['Owner'])[0]\n#dataset = dataset.replace(np.nan, 0, regex=True) "

<h3>Splitting the data into Training set and Test set</h3>

In [79]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size=0.2, random_state=0)
X_Train

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
74,77,11,8.93,192,1,0,1,0
239,75,9,4.43,78,2,0,1,0
64,81,14,36.23,24,1,0,0,0
294,64,11,6.80,101,2,0,1,0
286,87,13,7.90,90,2,0,1,0
...,...,...,...,...,...,...,...,...
251,69,10,9.90,166,2,0,1,0
192,24,4,0.75,148,2,1,1,1
117,49,12,1.90,46,2,1,1,0
47,96,3,4.15,180,2,0,1,0
172,13,11,0.64,45,2,1,1,0

<h3>Perform Feature Scaling</h3>

In [80]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_Train = sc.fit_transform(X_Train)
X_Test = sc.fit_transform(X_Test)

<h3>Train the model</h3>

In [81]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_Train, Y_Train)

LinearRegression()

In [82]:
Y_pred = reg.predict(X_Test)

<h3>Testing the Accuracy</h3>

In [83]:
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

# predicting the accuracy score
r2_score(Y_Test,Y_pred)
#accuracy_score(Y_Test, Y_pred)

0.9092983806073334